.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.middle {
    /* make it take up the entire remaining width */
    flex: 1;
}

.item {
    width: 200px;
    background: orange;
}

.left {
    width: 400px;
}

.right {
    flex: 1;
}

.left,
.right {
    height: 400px;
    border: 1px solid gray;
}

#specificColor {
    color: brown;
}

.color {
    font-size: 30px;
}

.color1 {
    color: aqua;
}

.color2 {
    color: blueviolet;
}

.color3 {
    color: green;
}